* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li p:hover,
.quickLinks button:hover {
    border-bottom: 2px solid orangered;
}

hr {
    margin: 15px 35px;
}

.logo {
    color: seagreen;
    font-size: 35px;
}

.search {
    font-weight: bold;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.navinp {
    width: 350px;
    padding: 5px 0px 5px 20px;
    border: none;
    border-radius: 25px;
    margin: 0px 10px;
}

.location {
    padding: 5px;
    margin: 5px;
}

.navbtn {
    padding: 5px 8px;
    margin: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.category {
    background-color: seagreen;
    padding: 8px;
    color: white;
    padding-right: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 20px;
}

ul {
    display: flex;
    list-style: none;
}

p {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.ContentBetweenContainer {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Contain {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
